* {
  font-family: arial;
}
body {
 margin:0;
 padding:0;
}

/*    cabeçalho:
 - display:flex; - para ter a disposição flex.
 - justify-content:center; - para deixar o cabeçalho no meio/centro da tela.
*/
header{
display:flex;
justify-content:center;
height:120px;
}


/*   container:
 - largura padrao do conteudo do site 990px
 - display:flex; - para deixar o conteudo do cabeçalho alinhados um ao lado do outro.
 - justify-content: space-between; - separando o conteudo do cabeçalho,o Logo vai para inicio do cabeçalho, e o Menu vai para o fim.
*/
.container {
  
width: 990px;

display:flex;
justify-content: space-between;
}

/* 
 - align-items: center; - esta definindo a centralização do logo em coluna.
*/
.logo {
  display:flex;
  align-items: center;
}

/* 
 - align-items: center; - esta definindo a centralização do menu em coluna.
*/
.menu {
 
  display:flex;
  align-items: center;
  
}


/* 
 - list-style: none;  - chamamos a ul e a li e tiramos os pontos que ficam por padrão em listas antes da palavra °lista tiramos com o list-style: none;
 - tiramos o margin
padding: 15px - se colocar o padding:15px estara definindo o espaçamento entre os botoes do menu.
*/
nav ul, 
nav li {
  list-style: none;
  margin:0;
  padding:0;
}


nav ul {
  display:flex;
 }



/*
 - display:block - para conseguir configurar o tamanho do espaço
 - text-decoration:none; - para tirar o sublinhado que fica abaixo das palavras da lista do menu
 - text-transform:uppercase; - vai garantir que as palavras ficarão em maiusculas mesmo que sejam alteradas pelo html para minuscula.
 - padding: 15px; - esta definindo o espaçamento interno dos botões,deixando o quadrado azul em volta da palavra maior. 
*/
nav a {
  display:block;
 padding: 15px;
  text-decoration:none;
  text-transform:uppercase;
  color: #727279;
  
 }


/*
aqui estou definindo configurações para quando o botão estiver selecionado nav .active a, ou quando passar o mouse em cima nav a:hover :
 - background-color: #39aae1; - ao selecionar ou passar o mouse em cime o botão ficara com essa cor azul.
 - color: #ffffff; -  a cor das palavras dentro dos botões ficarão brancas.
*/
nav .active a,
 nav a:hover {
  background-color: #39aae1;
 color: #ffffff;
  }


/*
 -  background-image:url('../image/banner.jpg') - é uma forma de inserir imagens com o css,nesse caso estamos inserindo o banner.
 - background-position:center; - para centralizar o banner
 - background-size:cover; - vai fazer com que a imagem creça em telas maiores e diminua quando em telas menores.
*/
#banner {
  display:flex;
  justify-content:center; 
  background-image:url('../image/banner.jpg');
  background-position:center;
  background-size:cover;
  height:670px;
}

/*
.column - foi adicionado esse segundo nome para a class container que esta dentro do section para configurar o conteudo que ficara no banner em coluna,ou seja sera duas div uma a baixo da outra,como o container no css mais a cima esta em row ai para configurar em coluna somente o banner criamos esse segundo nome para esse container - class="container column" */
.column {
flex-direction:column;
}

/*  
 - flex:1 - para que a div de cima responsavel pelo texto fique responsiva 
 - display:flex - para ter a disposição flex
 - flex-direction:column - para que fiquem as div uma a baixo da outra e não em linha ao lado.
 - justify-content:center - para posicionar as div ou o conteudo delas mais ao centro do banner/container.
*/
.banner_texto{
  flex:1;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* 
 - text-shadow - esta definindo sombreamento do texto de 0px para o lado,1px para baixo e 0px de blur.
 - margin e padding - foi zerado o margin e o padding tanto do h1 como do h2 para que fiquem mais proximos um do outro.
 - width:300px - colocamos uma area fixa tanto para o h1 como para o h2 de 350px 
*/
.banner_texto h1 {
  color: white;
  font-size:70px;
  text-shadow: 0px 1px 0px #555555;
  margin:0;
  padding:0;
  max-width:350px;
} 
.banner_texto h2 {
  color: white;
  font-size: 21px;
  text-shadow: 0px 1px 0px #555555;
  margin:0;
  padding:0;
  max-width:350px;
  margin-top:30px;
}

.banner_opcoes{
  height:210px;
  display:flex;
}

/*-  padding:20px; - para o conteudo nao encostar nas bordas da div. */
.banner1,
.banner2,
.banner3 {
  flex:1;
  color:#ffffff;
  padding:20px;
}

/* cores dos banners: */
.banner1{
  background-color: #39aae1;
}
.banner2{
  background-color: #0079c7;
}
.banner3{
  background-color: #2b4c99;
}


.banner_titulo {
  font-size:21px;
}

.banner_desc {
  font-size:13px;
  margin-top:20px;
  margin-bottom:20px;
}
  /*botoes no campo opçao:
   display:inline-block; - o inline-block faz com que a borda por exemplo acompanhe o tamanho da palavra que esta dentro dela,assim não fica uma borda muito maior e com a palavra descentralizada. */
.banner_opcoes a {
  display:inline-block;
  border: 1px solid #ffffff;
  padding:5px;
  color: white;
  font-size:12px;
  text-decoration:none;
}
.banner_horario{
  display:flex;
  font-size:13px;
 justify-content: space-between;
  padding:3px;
  border-bottom:1px solid white;
  
}


/* Abaixo comecaremos a estilizar o conteudo geral,localizado abaixo do banner e acima do rodapé
*/

#geral {
  display:flex;
  justify-content:center;
}

/* noticias: */
#geral section {
  flex:2;
}

/* area departamentos e area marque uma consulta:  */
#geral aside {
  flex:1;
}

.area_titulo {
  margin-top:30px;
  margin-bottom:20px;
}
.area_titulo_texto{
  color:#000000;
  font-size:21px;
  font-weight: bold;
}

/* div que se tornou barra azul abaixo do titulo: */
.area_titulo_barra {
  width:60px;
  height:2px;
  background-color: #36a9e1;
  margin-top: 10px;
} 

/*  display:flex; - para as noticias ficarem uma ao lado da outra.
 flex-wrap:wrap; - para quebrarem linha,pois estavam ficando as 4 na mesma linha. */
.flex {
  display:flex;
  flex-wrap:wrap;
}

/*  flex:1; - para possuirem o mesmo tamanho.
  min-width:300px; - menor tamanho possivel para que fiquem duas por linha,so funcionou com o min-width. */
article {
  flex:1;
  min-width:300px;
  margin-right:20px;
}
/* text-decoration:none; - tirando a linha sublinhada que ficou no conteudo de noticia por causa da tag a. */
article a {
  text-decoration:none;
}
/* deixando a data e o numero de comentarios um ao lado do outro: */
article .nova_data {
  display:flex;
}

article .nova_postagem {
  background-color: #2b4c99;
  color: #ffffff;
  font-size:12px;
  padding:10px;
  margin-right:2px;
}
article .nova_comentario {
    background-color: #39aae1;
    color: #ffffff;
    font-size:12px;
    padding:10px;
}

/* afastando a imagem da data: */
article .nova_imagem {
  margin-top:30px;
}

/* tamanho da imagem: */
article .nova_imagem img {
  width:100%;
  height:auto;
}

/* titulo abaixo da imagem: */
article .nova_titulo {
  margin-top:25px;
  margin-bottom:25px;
  color: #000000;
  font-size:25px;
}

/* texto do resumo da noticia:
line-height:20px; - esta definindo o espaçamento entre as linhas. */
article .nova_resumo {
  color:#5c5c5c;
  line-height:20px;
  font-size:14px;
  margin-bottom:30px;
}

/* Abaixo comecaremos a estilizar e configurar nossa aside,area lateral de departamentos e outra abaixo que sera area para marcar consulta:  */

 .flex {
   display:flex;
 }
aside .area_departamentos {
  display: flex;
  flex-wrap:wrap;
  justify-content:center;
  background-color: #39aae1;
  margin:7px;
  width:151px;
  height:150px;
}
 aside .area_consulta {
/*    padding-top:38px; */
   line-height:30px;
 }

/*abaixo começaremos a estilizar o RODAPE/FOOTER:*/
footer {
  background-color: #1e1e1e;
  display:flex;
  justify-content:center;
}
.footer_menu{
  display:flex;
  flex:1;
}
 .fm_1, .fm_2, .fm_3 {
   flex:1;
   color: #ffffff;
   padding:15px;
   line-height:5px;
 }

.fm_1{
  background-color: #39aae1;
}
.fm_2{
  background-color: #0079c7;
}
.fm_3{
  background-color: #2b4c99;
}
footer p {
  font-size:13px;
}
/*abaixo comecamos a estilizar o rodape em si:
no container responsavel por todo o rodape,tivemos que colocar uma class flexColumn e aqui no css abaixo chamamos essa class e colocamos esse container em coluna,pois o conteudo do rodape estava ficando em linha row lunto com o titulo azul do rodape,ai para que viesse descer tivemos que colocar em column*/
.flexColumn {
  flex-direction:column;
}
.footer_area {
display:flex;
  color: #ffffff;
}
/*3 titulos com background azul. deixando os itens espaçados em seus devidos lugares:*/
 .footer_areaitem{
  flex:1;
  font-size:12px;
   margin-right:10px;
}

footer .area_titulo_texto {
  color:white;
}
/* texto do primeiro quadrado "clinica medicenter" em cinza: */
footer .footer_texto{
  color: #5c5c5c;
  margin-bottom:15px;
}
/* primeiro quadrado sobre endereço e contato: */
footer .footer_endereco_contato{
  display:flex;
  justify-content:space-around;
  flex:1;
   color: #5c5c5c;
}

footer .footer_postagem{
  line-height:20px;
  color: #5c5c5c;
}

 .footer_data{
   font-size:10px;
   color:#39aae1;
   margin-left:30px;
   margin-bottom:15px;
 }
 .footer_tweets {
  display: grid; 
  color: #9d9d9d;
}
.tweets_itens {
  line-height:20px;
}
footer a {
  text-decoration:none;
  color:#9d9d9d;
}

/* abaixo estilizaremos a ultima parte do footer,que é os direitos autorais: */
footer .footer_copyright {  
  border-top: 1px solid #2c2c2c;
  height:40px;
  line-height:40px;
  color: #5c5c5c;
  font-size:12px;
  margin-top:10px;
}

